<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<!--<suite name="All Test Suite">-->
<!--    <parameter name="password" value="secret_sauce"></parameter>-->

<!--    <test name="test1">-->
<!--        <parameter name="user" value="standard_user"></parameter>-->
<!--        <classes>-->
<!--            <class name="org.example.TheDataProvider1"></class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="test2">-->
<!--        <parameter name="user" value="problem_user"></parameter>-->
<!--        <classes>-->
<!--            <class name="org.example.TheDataProvider1"></class>-->
<!--        </classes>-->
<!--    </test>-->

<!--    <test name="test3">-->
<!--        <parameter name="user" value="performance_glitch_user"></parameter>-->
<!--        <classes>-->
<!--            <class name="org.example.TheDataProvider1"></class>-->
<!--        </classes>-->
<!--    </test>-->

<!--</suite>-->


<!--<suite name="DataProviderTry2">-->
<!--    -->
<!--    <test name="Try1">-->
<!--        -->
<!--        <groups>-->
<!--            <run>-->
<!--                <include name="A"></include>-->
<!--            </run>-->
<!--            -->
<!--        </groups>-->
<!--        -->
<!--        <classes>-->
<!--            <class name="org.example.DataProviderTry2"></class>-->
<!--        </classes>-->
<!--        -->
<!--    </test>-->

<!--    <test name="Try2">-->

<!--        <groups>-->
<!--            <run>-->
<!--                <include name="B"></include>-->
<!--            </run>-->

<!--        </groups>-->

<!--        <classes>-->
<!--            <class name="org.example.DataProviderTry2"></class>-->
<!--        </classes>-->

<!--    </test>-->
<!--    -->
<!--</suite>-->

<suite name="DataExtended">
    
    <test name="test1">
        <classes>
            <class name="org.example.DataExtended"></class>
        </classes>
    </test>
    
</suite>
